{% extends 'base.html' %}

{% block title %}Add Post for {{user.first_name}} {{user.last_name}}{% endblock %}

{% block header %}Add Post for {{user.first_name}} {{user.last_name}}{% endblock %}

{% block content %}
  <form class="post-form" method="POST">
    <label for="title">Title</label>
      <input type="text" name="title"><br><br>
    <label for="content">Content</label>
      <textarea name="content"></textarea><br><br>
    <a href="/users/{{user.id}}" class="button non-urgent-cancel">Cancel</a>
    <button>Add</button>
  </form>
  
{% endblock %}