{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block header %}User Detail Page{% endblock %}

{% block content %}
  <img src="{{user.img_url}}" class="thumbnail">
  <div class="container">
    <h2>{{user.first_name}} {{user.last_name}}</h2>
    <a href="/users/{{user.id}}/edit" class='button edit'>Edit</a>
    <a href="/users/{{user.id}}/delete" class='button delete'>Delete</a>
  
    <h3>Posts</h3>
    <ul>
      {% for post in user.post_bridge %}
      <li>
        <a href="/posts/{{post.id}}">{{user.post_bridge.title}}</a>
      </li>
      {% endfor %}
    </ul>
    <a href="/users/{{user.id}}/posts/new" class="button">Add Post</a>
  </div>
  

{% endblock %}